{% extends "base.html" %}

{% block content %}

{% load static %}
<h2> Clue 10</h2>

<h3> Luke lost his keys </h3>
<h3> Brings to rubble pile. Dig out box. Slug inside. Qr11. </h3>


<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
<a href="javascript:showhide('uniquename')">
    Click here for more help.
</a>

<div id="uniquename" style="display:none;">
    <p>Content goes here.</p>
</div>
</center>

{% endblock %}