{% extends "base.html" %}

{% block content %}

{% load static %}
<h2>10. Hinweis</h2>

<h3>Luke hat seine Schlüssel verloren!</h3>

<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
    <a href="javascript:showhide('uniquename')">
        Klickt hier, wenn ihr mehr Hilfe benötigt.
    </a>

    <div id="uniquename" style="display:none;">
        <p>Die Tonfunktion könnte hilfreich sein</p>
        <img src="{% static 'images/bg/tag.jpg' %}"  class="img-responsive" />
    </div>

</center>

{% endblock %}