{% extends "base.html" %}

{% block content %}

{% load static %}
<h2>6. Hinweis</h2>

<h3>Wenn ihr den Ball mit der Frisbee trifft, hilft euch der Osterhase vielleicht weiter. Dabei dürft ihr natürlich nicht die Linie übertreten.</h3>

<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
<a href="javascript:showhide('uniquename')">
    Klickt hier, wenn ihr mehr Hilfe benötigt.
</a>

<div id="uniquename" style="display:none;">
    <p>Hier gibt es einen Publikumsjoker!</p>
</div>
</center>

{% endblock %}