{% extends "base.html" %}

{% block content %}

{% load static %}
<h2> Clue 6</h2>


<h3> Frisbee game at O15. Qr6 on a sign </h3>
<h3> Instructions. get the frisbee in the basket twice to proceed</h3>
<h3> Easter bunny text and says R2 </h3>


<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
<a href="javascript:showhide('uniquename')">
    Click here for more help.
</a>

<div id="uniquename" style="display:none;">
    <p>Henriette is good at this.</p>
</div>
</center>

{% endblock %}