{% extends "base.html" %}

{% block content %}

{% load static %}
<h2> Clue 1</h2>

<center>
    <h3>
        Find Luke's Keys (Hide the qr2 in the basement by the tyres. Put in a few eggs and the pink paper to write down the anagram)
    </h3>
</center>


<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
<a href="javascript:showhide('uniquename')">
    Click here for more help.
</a>

<div id="uniquename" style="display:none;">
    <p>Open the find my app and go to items and look for keys </p>
</div>
</center>


{% endblock %}