{% extends "base.html" %}

{% block content %}

{% load static %}
<h2>5. Hinweis</h2>

<h3>Wo ist Walter?
</h3>

<center>
  <div class="col-md-12 col-sm-12">
      <div class="member-img" style="background-image: url('images/team/t3.png');">
        <img src="{% static 'images/bg/wally.jpg' %}"  class="img-responsive" />
      </div> 
  </div>
</center>


<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
  <a href="javascript:showhide('walter')">
    Klickt hier, wenn ihr Walter nicht kennt.
  </a>
  
  <div id="walter" style="display:none;">
      <img src="{% static 'images/bg/wally1.jpg' %}"  class="img-responsive" />
  </div>
</center>
  
<center>
<a href="javascript:showhide('uniquename')">
  Klickt hier, wenn ihr mehr Hilfe benötigt.
</a>

<div id="uniquename" style="display:none;">
    <p>unten links</p>
</div>
</center>

{% endblock %}