{% extends "base.html" %}

{% block content %}

{% load static %}
<h2>1. Hinweis</h2>

<center>
    <h3>
        Luke hat sein Portemonaie verloren! Könnt ihr ihm helfen, es wieder zu finden?
    </h3>
</center>


<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
    <a href="javascript:showhide('uniquename')">
        Klickt hier, wenn ihr mehr Hilfe benötigt.
    </a>

    <div id="uniquename" style="display:none;">
        <p>Die Tonfunktion könnte hilfreich sein</p>
        <img src="{% static 'images/bg/tag.jpg' %}"  class="img-responsive" />
    </div>

</center>

{% endblock %}