{% extends "base.html" %}

{% block content %}

{% load static %}
<h2> Clue 5</h2>

<hr>
<center>
<div class="intro-images">
    <img src="https://i.ytimg.com/vi/AB3RQr-NGCs/maxresdefault.jpg" alt="Look at grid references">             
</div> 
</center>

<center>
  <div class="col-md-12 col-sm-12">
      <div class="member-img" style="background-image: url('images/team/t3.png');">
        <img src="{% static 'images/bg/wally.jpg' %}"  class="img-responsive" />
      </div> 
  </div>
</center>


<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
<a href="javascript:showhide('uniquename')">
    Click here for more help.
</a>

<div id="uniquename" style="display:none;">
    <p>Content goes here.</p>
</div>
</center>

{% endblock %}