{% extends "base.html" %}

{% block content %}

{% load static %}
<h2>11. Hinweis</h2>
<h3>Herrlich ist sein flinker Tanz,</h3>
<h3>von sich gibt er keinen Laut,</h3>
<h3>hat nen Kopf und einen Schwanz,</h3>
<h3>Schuppen hat er auf der Haut!</h3>


<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
<a href="javascript:showhide('uniquename')">
    Klickt hier, wenn ihr mehr Hilfe benötigt.
</a>

<div id="uniquename" style="display:none;">
    <img src="{% static 'images/bg/clue11extra.jpg' %}"  class="img-responsive" />
</div>
</center>

{% endblock %}