{% extends "base.html" %}

{% block content %}

{% load static %}
<h2>12. Hinweis</h2>

<h3>Ich folge dir stets, doch gehe keinen Schritt,</h3>
<h3>Du belädst mich und ziehst mich geschwind mit.</h3>
<h3>Ich komme in verschiedenen Größen, doch keine Füße hab ich zum Stehen,</h3>
<h3>Ohne mich würde das Transportieren nur schwer und mühsam gehen.</h3>

<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
<a href="javascript:showhide('uniquename')">
    Klickt hier, wenn ihr mehr Hilfe benötigt.
</a>

<div id="uniquename" style="display:none;">
    <p>Bella Casa</p>
</div>
</center>

{% endblock %}