{% extends "base.html" %}

{% block content %}

{% load static %}
<h2>3. Hinweis</h2>

<h3>Hier ein paar wichtige Regeln:</h3>
<h4>- Alle 5 müssen herunterfallen</h4>
<h4>- Geht nicht zu nah ran!</h4>
<img src="{% static 'images/bg/ref1.jpg' %}"  class="img-responsive" />


<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
<a href="javascript:showhide('uniquename')">
    Klickt hier, wenn ihr mehr Hilfe benötigt.
</a>

<div id="uniquename" style="display:none;">
    <p>Es gibt eine Karte auf der Website</p>
</div>
</center>

{% endblock %}