{% extends "base.html" %}

{% block content %}

{% load static %}
<h2> Clue 11</h2>
<h3> Rhyme about a fish</h3>


<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
<a href="javascript:showhide('uniquename')">
    Click here for more help.
</a>

<div id="uniquename" style="display:none;">
    <p>Content goes here.</p>
    <img src="{% static 'images/bg/clue11extra.jpg' %}"  class="img-responsive" />
</div>
</center>

{% endblock %}