{% extends "base.html" %}

{% block content %}

{% load static %}
<h2> Clue 7</h2>

<h3>Box with drone. Use phone. Image of sine wave. Fly drone and look down at the top of the roof thing</h3>
<h3>See QR8 code and arrow. </h3>



<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
<a href="javascript:showhide('uniquename')">
    Click here for more help.
</a>

<div id="uniquename" style="display:none;">
    <p>Content goes here.</p>
</div>
</center>

{% endblock %}