{% extends "base.html" %}

{% block content %}

{% load static %}
<h2>Clue 6.</h2>

<h3>History Question:</h3>
<h3>You are looking for something that contains 12 things and 2 out of the 12 things are named after Roman Emporers! What is it?</h3>

<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
<a href="javascript:showhide('uniquename')">
    Click here for more help
</a>

<div id="uniquename" style="display:none;">
    <p>The Emporers were Julius Caesar and Augustus Caesar</p>
</div>
</center>

{% endblock %}