{% extends "base.html" %}

{% block content %}

{% load static %}
<h2>Clue 1.</h2>

<center>
    <h3>
        Congratulations! You have found the HOOOOOOOOOOOVER! Now for your next clue:
        Luke hat sein Portemonaie verloren!
    </h3>
</center>


<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
    <a href="javascript:showhide('uniquename')">
        Look at Google Translate.
    </a>

    <div id="uniquename" style="display:none;">
        <p>Make the tag make a sound!</p>
        <img src="{% static 'images/bg/tag.jpg' %}"  class="img-responsive" />
    </div>

</center>

{% endblock %}