{% extends "base.html" %}

{% block content %}

{% load static %}
<h2>7. Hinweis</h2>

<img src="{% static 'images/bg/wave.jpg' %}"  class="img-responsive" />


<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
<a href="javascript:showhide('uniquename')">
    Klickt hier, wenn ihr mehr Hilfe benötigt.
</a>

<div id="uniquename" style="display:none;">
    <img src="{% static 'images/bg/wave1.gif' %}"  class="img-responsive" />
</div>
</center>

{% endblock %}