{% extends "base.html" %}

{% block content %}

{% load static %}
<h2> Clue 4</h2>


<h3> Clue to get to Sean's Tree. Pic of the leaves of the mature tree. </h3>
<h3> on tree is a sign to look around. qr5 in window.</h3>


<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
<a href="javascript:showhide('uniquename')">
    Click here for more help.
</a>

<div id="uniquename" style="display:none;">
    <p>Content goes here.</p>
</div>
</center>

{% endblock %}