{% extends "base.html" %}

{% block content %}

{% load static %}
<h2>Clue 11</h2>

<h3>You must find ze clue!</h3>
<img src="{% static 'images/bg/ref1b.jpg' %}"  class="img-responsive" />


<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
<a href="javascript:showhide('uniquename')">
    Click here if you need help.
</a>

<div id="uniquename" style="display:none;">
    <a> Check out the map </a>
</div>
</center>

{% endblock %}