{% extends "base.html" %}

{% block content %}

{% load static %}
<h2> Clue 8</h2>
<h3> QR8 at start. It says you have to hit the ballon 5 time </h3>
<h3> Lift box and start wheely. Hit balloon 5 times from inside house</h3>
<h3> Then get text from easter bunny. Text says K10</h3>
<h3> Go look around K10, inside tool shed door,find qr9 </h3>





<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
<a href="javascript:showhide('uniquename')">
    Click here for more help.
</a>

<div id="uniquename" style="display:none;">
    <p>Content goes here.</p>
</div>
</center>

{% endblock %}