{% extends "base.html" %}

{% block content %}

{% load static %}
<h2> 9. Hinweis</h2>

<!-- ============== Hero Carousel =============== -->
<section id="hero" class="hero-carousel">
    <div class="layer"></div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- Slide Item -->
        <div class="swiper-slide">
          <div class="slide-content">
            <h1 class="headline">
              wisch nach links und rechts
            </h1>       
            <div class="intro-images">
                <img src="{% static 'images/bg/im1.jpg' %}"  class="img-responsive" />
            </div>            
          </div>         
        </div>
        <!-- ./Slide Item -->
        <!-- Slide Item -->
        <div class="swiper-slide">
            <div class="slide-content">
              <h1 class="headline">
                wisch nach links und rechts
              </h1>       
              <div class="intro-images">
                  <img src="{% static 'images/bg/im2.jpg' %}"  class="img-responsive" />
              </div>            
            </div>         
          </div>
          <!-- ./Slide Item -->
        <!-- Slide Item -->
        <div class="swiper-slide">
            <div class="slide-content">
              <h1 class="headline">
                wisch nach links und rechts
              </h1>       
              <div class="intro-images">
                  <img src="{% static 'images/bg/im3.jpg' %}"  class="img-responsive" />
              </div>            
            </div>         
          </div>
          <!-- ./Slide Item -->
        <!-- Slide Item -->
        <div class="swiper-slide">
            <div class="slide-content">
              <h1 class="headline">
                wisch nach links und rechts
              </h1>       
              <div class="intro-images">
                  <img src="{% static 'images/bg/im4.jpg' %}"  class="img-responsive" />
              </div>            
            </div>         
          </div>
          <!-- ./Slide Item -->
          <!-- Slide Item -->
          <div class="swiper-slide">
              <div class="slide-content">
                <h1 class="headline">
                  wisch nach links und rechts
                </h1>       
                <div class="intro-images">
                    <img src="{% static 'images/bg/im5.jpg' %}"  class="img-responsive" />
                </div>            
              </div>         
            </div>
            <!-- ./Slide Item -->
          <!-- Slide Item -->
          <div class="swiper-slide">
              <div class="slide-content">
                <h1 class="headline">
                  wisch nach links und rechts
                </h1>       
                <div class="intro-images">
                    <img src="{% static 'images/bg/im6.jpg' %}"  class="img-responsive" />
                </div>            
              </div>         
            </div>
            <!-- ./Slide Item -->
      </div>       
  
      <!-- Navigation Arrows -->
      <div class="swiper-button-next">
        <i class="fa fa-chevron-right"></i>
      </div>
      <div class="swiper-button-prev">
        <i class="fa fa-chevron-left"></i>
      </div>
    </div>    
  </section> 

<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
<a href="javascript:showhide('uniquename')">
  Klickt hier, wenn ihr mehr Hilfe benötigt.
</a>

<div id="uniquename" style="display:none;">
    <p>Wo ist das?</p>
    <img src="{% static 'images/bg/view.png' %}"  class="img-responsive" />
    <p>ein weißer Stein</p>

</div>
</center>

{% endblock %}