{% extends "base.html" %}

{% block content %}

{% load static %}
<h2>4. Hinweis</h2>

<img src="{% static 'images/bg/tree.jpg' %}"  class="img-responsive" />

<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
<a href="javascript:showhide('uniquename')">
    Klickt hier, wenn ihr mehr Hilfe benötigt.
</a>

<div id="uniquename" style="display:none;">
    <a href="https://youtube.com/shorts/9M8G5frfJB4?feature=share">Youtube video</a>
</div>
</center>

{% endblock %}