{% extends "base.html" %}

{% block content %}

{% load static %}
<h2> Clue 3</h2>

<h3> Nerf Air Game. Need a sharp shooter. Knock down all 5. P14</h3>
<h3> txt anser from easter bunny. clue to look in a fridge and find qr4</h3>

<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
<a href="javascript:showhide('uniquename')">
    Click here for more help.
</a>

<div id="uniquename" style="display:none;">
    <p>Content goes here.</p>
</div>
</center>

{% endblock %}