{% extends "base.html" %}

{% block content %}

{% load static %}
<center> <h2>Introduction</h2></center>

<!-- ============== Hero Carousel =============== -->
<section id="hero" class="hero-carousel">
    <div class="layer"></div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- Slide Item -->
        <div class="swiper-slide">
          <div class="slide-content">
            <h1 class="headline">
              What to do? 
            </h1>          
            <h3 class="subline">
              You are looking for QR Codes like this
            </h3>
            <div class="intro-images">
              <img src="{% static 'images/eggs/in1.jpg' %}"  class="img-responsive" />
            </div>       
            <h3 class="subline">
              (swipe to see next slide)
            </h3>           
          </div>         
        </div>
        <!-- ./Slide Item -->
        <!-- Slide Item -->
        <div class="swiper-slide">
          <div class="slide-content">
            <h1 class="headline">
            </h1>          
            <h3 class="subline">
                ...or you'll be given Co-Ordinates, to find a place on this map. 
            </h3>
            <div class="intro-images">
              <img src="{% static 'images/eggs/in2.jpg' %}"  class="img-responsive" />
            </div> 
          </div>
        </div>
        <!-- ./Slide Item --> 
        <!-- Slide Item -->
        <div class="swiper-slide">
          <div class="slide-content">
            <h1 class="headline">
            </h1>          
            <h3 class="subline">
                All the apps you need are on the red phone! 
            </h3>
            <div class="intro-images">
              <img src="{% static 'images/eggs/in2a.jpg' %}"  class="img-responsive" />
            </div> 
          </div>
        </div>
        <!-- ./Slide Item --> 
        <!-- Slide Item -->
        <div class="swiper-slide">
          <div class="slide-content">
            <h1 class="headline">
            </h1>          
            <h3 class="subline">
                Everything else will be other pieces of white paper or white envelopes. 
            </h3>
            <div class="intro-images">
              <img src="{% static 'images/eggs/in3.jpg' %}"  class="img-responsive" />
            </div> 
          </div>
        </div>
        <!-- ./Slide Item --> 
        <!-- Slide Item -->
        <div class="swiper-slide">
          <div class="slide-content">
            <h1 class="headline">
            </h1>          
            <h3 class="subline">
                Also, Please do not act like barbarians and tear apart your granny and granda's house! 
            </h3>
            <div class="intro-images">
              <img src="{% static 'images/eggs/in4.jpg' %}"  class="img-responsive" />
            </div> 
          </div>
        </div>
        <!-- ./Slide Item --> 
        <!-- Slide Item -->
        <div class="swiper-slide">
          <div class="slide-content">
            <h1 class="headline">
              Here is your first clue!
            </h1>          
            <h3 class="subline">
              This guy has had many names. He was once called Benbo. 
            </h3>
            <h3 class="subline">
              Now he goes by Old Faithful!
            </h3>
            <p class="subline">
              QR1 on Hoover!
            <p>    
            
<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>
<center>
<a href="javascript:showhide('uniquename')" style="color:gray">
    Click here for help!
</a>

<div id="uniquename" style="display:none;">
  <p class="subline">I am a Hoover! A HOOOOOOOOOOVEEER!</p>
<p class="subline">Repeat after me.... HOOOOVEEEER</p>
</div>
</center>         
          </div>
        </div>
        
        <!-- ./Slide Item -->
      </div>       
  
      <!-- Navigation Arrows -->
      <div class="swiper-button-next">
        <i class="fa fa-chevron-right"></i>
      </div>
      <div class="swiper-button-prev">
        <i class="fa fa-chevron-left"></i>
      </div>
    </div>    
  </section> 

{% endblock %}