{% extends "base.html" %}

{% block content %}

{% load static %}
<center> <h2> Introduction</h2></center>

<!-- ============== Hero Carousel =============== -->
<section id="hero" class="hero-carousel">
    <div class="layer"></div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- Slide Item -->
        <div class="swiper-slide">
          <div class="slide-content">
            <h1 class="headline">
              Slide 1 
            </h1>          
            <h3 class="subline">
              This slide will be about QR codes 
            </h3>
            <div class="intro-images">
                <img src="https://thumbs.dreamstime.com/b/close-up-young-woman-hands-using-smart-phone-to-scan-qr-code-select-food-menu-restaurant-209189841.jpg" alt="Look for QR codes" width="500" height="600">             
            </div>            
          </div>         
        </div>
        <!-- ./Slide Item -->
        <!-- Slide Item -->
        <div class="swiper-slide">
          <div class="slide-content">
            <h1 class="headline">
                This slide will be about Grid references codes 
            </h1>          
            <h3 class="subline">
                This slide will be about Grid references codes 
            </h3>
            <div class="intro-images">
                <img src="https://i.ytimg.com/vi/AB3RQr-NGCs/maxresdefault.jpg" alt="Look at grid references" width="500" height="600">             
            </div> 
          </div>
        </div>
        <!-- ./Slide Item --> 
        <!-- Slide Item -->
        <div class="swiper-slide">
          <div class="slide-content">
            <h1 class="headline">
              Here is your first clue
            </h1>          
            <h3 class="subline">
              Find the thermomix  
            </h3>           
          </div>
        </div>
        <!-- ./Slide Item -->
      </div>       
  
      <!-- Navigation Arrows -->
      <div class="swiper-button-next">
        <i class="fa fa-chevron-right"></i>
      </div>
      <div class="swiper-button-prev">
        <i class="fa fa-chevron-left"></i>
      </div>
    </div>    
  </section> 

{% endblock %}