{% extends "base.html" %}

{% block content %}

{% load static %}
<center> <h2> Introduction</h2></center>

<!-- ============== Hero Carousel =============== -->
<section id="hero" class="hero-carousel">
    <div class="layer"></div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- Slide Item -->
        <div class="swiper-slide">
          <div class="slide-content">
            <h1 class="headline">
              Slide 1 
            </h1>          
            <h3 class="subline">
              This slide will be about QR codes 
            </h3>
            <div class="action-btns">
              <a href="" class="btn secondary">
                Begin
              </a>
              {% comment %} <a href="#" class="btn primary">
                Contact Us
              </a> {% endcomment %}
            </div>            
          </div>         
        </div>
        <!-- ./Slide Item -->
  {% comment %} 
        <!-- Slide Item -->
        <div class="swiper-slide">
          <div class="slide-content">
            <h1 class="headline">
              Welcome To <span class="highlight">Easter</span> One Page <span class="highlight">Template</span>
            </h1>          
            <h3 class="subline">
              A Responsive One Page Template In Easter Theme  
            </h3>
            <div class="action-btns">
              <a href="#" class="btn secondary">
                Learn More
              </a>
              <a href="#" class="btn primary">
                Contact Us
              </a>
            </div>
          </div>
        </div>
        <!-- ./Slide Item --> {% endcomment %}
  {% comment %} 
        <!-- Slide Item -->
        <div class="swiper-slide">
          <div class="slide-content">
            <h1 class="headline">
              Welcome To <span class="highlight">Easter</span> One Page <span class="highlight">Template</span>
            </h1>          
            <h3 class="subline">
              A Responsive One Page Template In Easter Theme  
            </h3>
            <div class="action-btns">
              <a href="#" class="btn secondary">
                Learn More
              </a>
              <a href="#" class="btn primary">
                Contact Us
              </a>
            </div>            
          </div>
        </div>
        <!-- ./Slide Item -->
      </div>       {% endcomment %}
  
      <!-- Navigation Arrows -->
      {% comment %} <div class="swiper-button-next">
        <i class="fa fa-chevron-right"></i>
      </div>
      <div class="swiper-button-prev">
        <i class="fa fa-chevron-left"></i>
      </div>       {% endcomment %}
    </div>    
  </section> 

{% endblock %}